<!doctype html>
<html lang="en">
	<%= require('html-loader!./partials/head.ejs') %>
	<body>
		<%= require('html-loader!./partials/hero.ejs') %>
    <%= require('html-loader!./partials/intro.ejs') %>
    <%= require('html-loader!./partials/scripts.ejs') %>
	</body>
</html>
