<head>
	<meta charset="utf-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<title></title>
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<meta name="author" content="Bernard Wang">
	<link href="https://fonts.googleapis.com/css?family=Dosis:200,300,400,500,700,900" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Lato:200,300,400,500,700,900" rel="stylesheet">
</head>
