<section class="hero">
  <div class="container">
    <div class="row">
      <div class="eight columns">
        <h4>The F Word</h4>
        <h1>Visualizing AAPI feminism at UIUC</h1>
        <hr class="m-line-space">
      </div>
    </div>
    <div class="row">
      <div class="eight columns">
        <p>
          This site attempts to illustrate sentiment in the AAPI community on feminism and intersectionality. The ideas presented here are inspired by "The F Word: Let's Talk AAPI Feminism & Intersectionality", a workshop hosted by <a href="https://www.facebook.com/uiucapac/" target="_blank">APAC</a> in the 2017 Spring semester. The original data was collected and provided by <a href="" target="_blank">Katrina Montreal</a>.
        </p>
        <a><h5>+more</h5></a>
      </div>
    </div>
    <div class="hero__scroll_wrapper u-center">
      <a href="" class="hero__scroll_btn">Scroll</a>
      <svg width="40" height="10">
        <path d="M0,0L40,0L20,10Z" fill="#fff" stroke="none"></path>
      </svg>
    </div>
  </div>
</section>
