<section id="intro">
  <div class="container">
    <div class="row js-intro">
      <div class="four columns">
        <p>We surveyed around 300 students at the University of Illinois at Urbana Champaign.</p>
        <p>Many are involved in organizations or are members of the AAPI community on campus.</p>
      </div>
    </div>
    <div class="row js-intro">
      <div class="four columns">
        <p>Of these, 177 identified as female, and 110 as male</p>
        <p>This group of both domestic and international students had ethnicities spanning 17 different countries</p>
      </div>
    </div>
    <div class="row js-intro">
      <div class="four columns">
        <p>We asked this diverse community...</p>
      </div>
    </div>
  </div>
</section>
