<section id="intro">
  <div class="container">
    <div class="row u-hidden">
      <div class="twelve columns">
        <p>We interviewed</p>
        <p>around 300 Asian students at UIUC.</p>
      </div>
    </div>
    <div class="row u-hidden">
      <div class="twelve columns">
        <p>We interviewed</p>
        <p>around 300 Asian students at UIUC.</p>
      </div>
    </div>
  </div>
</section>
