#hero {
  background-color: $color-text;
  color: $color-text-white;

  .container {
    padding-top: 15rem;
    padding-bottom: 15rem;
  }

  h1, h4 {
    color: $color-accent;
    text-transform: uppercase;
    letter-spacing: 4px;
  }

  p {
  }
}
