#intro {
  .container {
    padding-top: 20rem;
    padding-bottom: 20rem;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: center;
  }

  h1 {
    color: $color-accent;
    text-transform: uppercase;
    letter-spacing: 4px;
  }

  p {

  }
}
