.js-fade {
  opacity: 0;
  transform: translateY(-10px);
  transition: opacity $time-default, transform $time-default;
}

.js-fade-done {
  opacity: 1;
  transform: translateY(0px);
  transition: opacity $time-default, transform $time-default;
}
